/* color variables */
/* border radius */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #2a324b;
    height: 100vh;
    overflow-x: hidden;
}

p {
    font-weight: 400;
}

.container {
    width: 95vw;
    max-width: 1240px;
    margin: auto;
}

/* NAVBAR  */

.nav {
    border-bottom: 1px solid #eef1f6;
}

.nav-toggle {
    display: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.nav-menu li {
    display: block;
}

.nav-toggle svg {
    width: 1.5rem;
    fill: #2a324b;
}

.nav-toggle .close {
    display: none;
}

.nav-toggle .menu {
    margin-top: 0.2rem;
}

.nav-checkbox {
    display: none;
}

.nav-menu li:first-child {
    margin-right: auto;
    display: block;
}

.nav-menu a {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(107, 114, 128, 1);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-menu a:hover {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    color: #ea4c89;
    font-weight: 600;
}

.nav-menu svg {
    width: 1.5rem;
    fill: #2a324b;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.nav-logo h1 {
    margin-left: 10px;
}

.nav-logo span {
    font-size: 50px;
    font-weight: 600;
    color: #ea4c89;
    line-height: 20px;
}

#nav-checkbox:checked~ul.nav-menu li {
    display: block;
}

#nav-checkbox:checked~label.nav-toggle .close {
    display: block;
}

#nav-checkbox:checked~label.nav-toggle .menu {
    display: none;
}

/* HERO  */
.hero {
    background-color: #f9f8fd;
}

.hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-item {
    width: 50%;
    padding: 40px 20px;
}

.hero-message {
    display: flex;
    align-items: center;
}

.hero-message p {
    margin: 20px 0;
    font-weight: 400;
}

.hero-item img {
    width: 100%;
}

/* PROFILE  */
#profile {
    margin: 100px 0;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-wrapper div {
    max-width: 900px;
}

#profile p {
    margin: 20px 0;
}

#profile iframe {
    margin-top: 30px;
}

.profile-item {
    position: relative;
}

.memphis {
    position: absolute;
    z-index: -10;
}

.memphis-one {
    top: 27rem;
    left: 42rem;
}

.memphis-two {
    top: 9.5rem;
    left: 9rem;
}

.memphis-icon-one, .memphis-icon-two {
    width: 120px;
    height: 120px;
    color: #f82b7a;
}

/*SERVICES*/
.services-section h2{
  text-align: center;
  margin-bottom: 50px;
  
}

.service img{
  width: 130px;
}

.service p{
  text-align: center;
  border-top: 2px solid gray;
  padding: 20px 0;
}

.service{
  box-shadow: 5px 5px 5px 5px gray;
  margin-left: 20px;
  margin-right: 20px;
  float:right;
  text-decoration: none;
  color: black;
}

.service:hover{
  opacity: 0.7;
}

.services-list{
  display: flex;
  margin-bottom: 50px;
  text-align: center;
  margin-left: 50px;
}

/* CLIENTS  */
#clients {
    background-color: #f0f9ff;
    padding: 50px 0;
}

#clients h2 {
    margin-bottom: 10px;
}

.clients-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.clients-wrapper img {
    width: 100px;
    margin: 0 20px;
}

/* TEAM  */
#team-section {
    margin: 50px 0;
    text-align: center;
    float:right;
}

.team p{
    border-top: 2px solid gray;
    padding: 20px 0;

}


.team img{
    width: 175px;
    }           
.team{
    box-shadow: 5px 5px 5px 5px gray;
    margin-left: 20px;    
    margin-right: 20px;
    }
    
.team-wrapper{
    margin-bottom: 50px;
    text-align: center;
    padding-top:50px ;
    display:flex;
}
       

/* COMPONENTS & UTILS  */
.section-title {
    position: relative;
}

.section-title svg {
    width: 100px;
    height: 5px;
    color: #ea4c89;
    z-index: -10;
}

.text-center {
    text-align: center;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor:pointer
}

.btn-explore {
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #ea4c89;
    color: #fff;
}

.btn-explore:hover {
    background-color: #d37498;
}

/* RESPONSIVE  */

@media screen and (min-width: 1201px) {
    
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .nav-toggle {
        position: absolute;
        cursor: pointer;
        margin: 0rem 1rem;
        right: 0;
        display: block;
    }

    .nav-menu {
        flex-direction: column;
    }

    .nav-menu li {
        list-style: none;
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .hero-wrapper {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 30px;
    }

    .hero-item {
        padding: 0;
        width: 100%;
    }

    .hero-item img {
        width: 60vw;
    }

    .profile-wrapper div {
        max-width: 400px;
    }

    .profile-wrapper iframe {
        max-width: 400px;
    }

    .memphis-one {
        top: 33rem;
        left: 23rem;
    }

    .memphis-two {
        top: 15rem;
        left: -1rem;
    }

    .memphis-icon-one,
    .memphis-icon-two {
        width: 60px;
        height: 60px;
        color: #f82b7a;
    }

    .clients-wrapper img {
        width: 80px;
    }
    
    /*SERVICES*/
    .services-list{
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .service{
      margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .profile-wrapper iframe {
        max-width: 90vw;
    }
    .memphis {
        display: none;
    }
    .clients-wrapper img {
        width: 50px;
    }
    
    /*SERVICES*/
    .service{
      max-width: 100px;
    }
    
    .service img{
      max-width: 90px;
    }
    
    .service p{
      padding: 10px 0;
      font-size: 11px;
    }
}